/* snackbar */

.hed {
  text-align: center;
}

.privhead {
  margin: 7vh auto;
}

#snackbar {
  visibility: hidden;
  max-width: 90%;
  margin: 0 auto;
  background-color: #c8c8c8;
  color: rgb(29, 28, 28);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  /* position: fixed; */
  z-index: 1;
  /* left: 40%; */
  top: 60px;
  font-size: 17px;
}

#donationSnack {
  width: 50%;
  /* margin-bottom: 10px; */
  visibility: hidden;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #c8c8c8;
  color: rgb(29, 28, 28);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  /* position: fixed; */
  z-index: 1;
  /* left: 40%; */
  top: 60px;
  font-size: 17px;
}

/* Products Purchased cards */

/* service-box height index page */

#service-box {
  min-height: 58vh;
}

#donationSnack.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 60px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 60px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

.dropbtn {
  background-color: #3c37f1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  /* align-self: center; */
}

.profile {
  width: 100%;
  /* text-align: center; */
}

/* Profile dropdown */

.dropP {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropP-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: start;
}

.dropP-content a {
  color: #3c37f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropP-content a:hover {
  background-color: #ddd;
}

.dropP:hover .dropP-content {
  display: block;
  /* width: 100%; */
}

.dropP:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.2);
}

.sel:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  padding-top: 0px;
}

.btn {
  background-color: #3c37f1;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  /* text-decoration-color: white; */
}

.grid {
  margin: auto;
  border: 2px;
  border-color: grey;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: black;
  font-size: 2.5rem;
  text-align: center;
}

.carousel-inner {
  width: 100%;
  max-height: 100% !important;
}

.article-content {
  white-space: pre-line;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.article-img {
  height: 500px;
  width: 500px;
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  /* border-bottom: 1px solid #e3e3e3; */
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.image {
  width: 500px;
  height: 500px;
  align-self: center;
  margin: auto;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.bod {
  background: url("../images/bod.png");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100% 50%;
}

/* Related to User Registeration and login */

#togglePassword {
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  line-height: 9vh;
}

.wrap1 {
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 0px;
  margin-top: 100px;
  box-shadow: 0 0 10px #3c37f1;
}

.wrap {
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 0px;
  margin-top: 15px;
  box-shadow: 0 0 10px #3c37f1;
}

.invalid {
  border: 1px solid red !important;
}

.AuthInp {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  /* background: */
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 10px;
  /* font-weight:bold; */
  box-shadow: 0 0 20px#D8D8D8;
  margin: 3px auto;
  color: #000000;
}

.AuthInp:focus,
.AuthInp:hover {
  box-shadow: 0 0 20px#BEBEBE;
  background: #fff;
}

.subBtn {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #3c37f1;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
}

.subBtn:hover {
  background: #2f2c9e;
  box-shadow: 0 10px 15px #2f2c9e;
}

.subBtn:focus {
  outline: none;
}

.AuthLink {
  text-align: center;
  margin-top: 30px;
}

#card1 {
  height: 70vh;
  width: 25vw;
  background: #ffffff;
  margin-top: 0%;
  border-radius: 12px;
  box-shadow: 0px 0px 20px blue;
}

#card2 {
  height: 91vh;
  width: 25vw;
  background: #ffffff;
  margin-top: 0%;
  border-radius: 12px;
  box-shadow: 0px 0px 20px blue;
}

#inp {
  padding-top: 3px;
}

#inp1 {
  width: 23vw;
  height: 9vh;
  padding: 1vw;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0 0 30px #e0e0e0;
  background-color: #ffffff;
  text-align: center;
  /* font-weight : bold; */
}

#inp1:focus {
  box-shadow: 0px 0px 30px #c8c8c8;
  outline: none;
  background-color: #ffffff;
}

#inp2 {
  width: 23vw;
  height: 9vh;
  padding: 1vw;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0 0 30px #e0e0e0;
  background-color: #ffffff;
  text-align: center;
  /* font-weight : bold; */
}

#inp2:focus {
  box-shadow: 0px 0px 30px #c8c8c8;
  outline: none;
  background-color: #ffffff;
}

#inp3 {
  width: 23vw;
  height: 9vh;
  padding: 2px;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0 0 30px #e0e0e0;
  background-color: #ffffff;
  text-align: center;
  /* font-weight : bold; */
}

#inp3:focus {
  box-shadow: 0px 0px 30px #c8c8c8;
  outline: none;
  background-color: #ffffff;
}

#inp4 {
  width: 23vw;
  height: 9vh;
  padding: 2px;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0 0 30px #e0e0e0;
  background-color: #ffffff;
  text-align: center;
}

#inp4:focus {
  box-shadow: 0px 0px 30px #c8c8c8;
  outline: none;
  background-color: #ffffff;
}

.inp-rel {
  padding-top: 30px;
}

#bt {
  border-radius: 20px;
  height: 45px;
  padding: 0 20px;
  width: 10vw;
  color: white;
  background: #3c37f1;
  border: none;
  box-shadow: 0px 10px 30px rgb(58, 108, 202);
}

#bt:hover {
  background-color: #0d0a5a;
  color: #ffffff;
  box-shadow: 0px 10px 30px rgb(58, 108, 202);
  transition-duration: 0.5s;
}

#bt:focus {
  outline: none;
}

#foot {
  padding-top: 17%;
  color: #3c37f1;
}

#sect {
  padding-top: 4%;
}

/*For animation in the products page!  */

ul.accord {
  list-style-type: square;
  padding: 0 0 1rem 3rem;
  margin-left: 2rem;
}

ul.accord > li {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  padding: 0 1rem 1rem 2rem;
}

/* section.accor{
    height:100vh;
    width:100%;
    background-color:#eeeeee;
    display:flex;
    align-items:center;
    justify-content:center;
} */

/* acc */

.acc {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}

/* acb-item */

.acb-item {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  margin: 2em;
  padding: 0.3em;
  border-radius: 5px;
  box-shadow: 0px 0px 0.4em #e0e0e0;
}

/* acb-link */

.acb-link {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5em;
}

.acb-link:hover {
  color: #c8c8c8;
}

/* acb-link */

.acb-link .remove {
  display: none;
}

/* acn */

.acn {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transition: max-height 3s;
}

/* acn */

.acn::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #ffffff;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
}

/* acn */

.acn p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  padding: 0 2rem 1rem 2rem;
  line-height: 2rem;
}

/* acb-item */

.acb-item:target .acn {
  max-height: 20rem;
}

/* acb-item */

.acb-item:target .acb-link .add {
  display: none;
}

/* acb-item acb-link */

.acb-item:target .acb-link .remove {
  display: block;
}

.flap {
  background-size: cover;
  width: 95%;
  height: 95%;
}

.frame {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.frame:hover {
  animation: zoomeffect 5s infinite;
}

@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(1.09, 1.09);
  }
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
}

/* Donation Related styles */

.donateCard {
  background: white;
  width: 60%;
  /* height:30vmax; */
  border-radius: 2vw;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 3vw;
  justify-content: center;
  display: flex;
  padding-bottom: 3vh;
}

.donateText {
  text-overflow: hidden;
}

.donSect {
  background: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
}

.donateBtn {
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-right: 1vw;
  font-size: 3vmin;
  border-radius: 2vmin;
  border-color: #3c37f1;
  background: #ffffff;
  color: #3c37f1;
  margin-bottom: 10vh;
}

.donateBtn:focus {
  outline: none;
  background: #3c37f1;
  color: #ffffff;
  border-color: #ffffff;
}

.donateBtn:hover {
  outline: none;
  background: #3c37f1;
  color: #ffffff;
  border-color: #ffffff;
}

.donateInp {
  margin-bottom: 4vh;
  width: 45vw;
  height: 7vh;
  border-radius: 0.7vw;
  border: none;
  box-shadow: 0px 0px 10px #dddddd;
  text-align: center;
}

.donateInp:focus,
.donateInp:hover {
  box-shadow: 0px 0px 20px #aeaeaf;
}

/* Styles related to specificProduct */

.serverSect {
  display: flex;
  justify-content: center;
}

.subtopicImg {
  width: 60%;
  height: 60%;
}

.subtopicCol {
  margin-bottom: 4vh;
}

.subtopicRow {
  justify-content: center;
}

.topicRow {
  justify-content: center;
  margin-bottom: 10vh;
}

.adminRowD {
  margin-left: 2em;
}

.adminFeatImg {
  box-shadow: 0px 0px 20px #dddddd;
  width: 100%;
  height: 100%;
}

#adminRow {
  margin-top: 7vh;
}

.img-col {
  border-radius: 2%;
}

#prodImage {
  width: 100%;
  border-radius: 6%;
}

.buyForm {
  margin-left: 2%;
}

.usecase {
  width: 70%;
}

#adminFeatRow {
  margin-left: 7vh;
  margin-right: auto;
}

#specBod {
  padding-top: 0%;
}

.featLogo {
  box-shadow: 0px 0px 20px #dddddd;
  width: 100%;
  height: 100%;
}

.contactForm {
  width: 40%;
}

.clientImg {
  background-size: cover;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.faq {
  width: 90%;
  background: #f5f5f5;
  margin: auto;
}

#btn {
  margin: 2%;
  border: none;
  /* text-align:right; */
  position: absolute;
  right: 0;
  color: white;
}

#prodSpec {
  margin-bottom: 10vh;
}

.adminFeatureBtn {
  height: 7vh;
  margin-bottom: 5vh;
  margin-right: 2vw;
  border-radius: 5vh;
  padding-left: 4vh;
  padding-right: 4vh;
  border: none;
  color: #3c37f1;
  background: #ffffff;
  box-shadow: 0px 0px 20px #dddddd;
}

.adminFeatureBtn:hover {
  color: #fff;
  background: #3c37f1;
}

.adminFeatureBtn:focus {
  outline: none;
}

#donBtn {
  width: 45vw;
  height: 7vh;
}

.inputRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Donation related */

.donDiv {
  position: absolute;
  width: 100%;
  /* height:100%;  */
  background: #000000a2;
}

.donationSect {
  margin-bottom: 23vh;
  padding-top: 10vh;
}

.mainDon {
  margin-left: 3vw;
  margin-top: 6vh;
  color: #ffffff;
}

.donForm {
  justify-content: center;
}

.Dform {
  margin-right: 0vw;
  margin-left: 0vw;
  width: 70%;
}

/* Donation Process */

.donProcess {
  height: 100vh;
  text-align: center;
}

.serviceIgm {
  height: 100px;
  width: 100px;
}
