<!DOCTYPE html>
<html class="no-js">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <style>
        nav {
            background-color: #a629cf;
        }
    
        nav a {
            color: white;
        }
    
        * {
            font-family: 'Nerko One', cursive;
            font-weight: bolder;
        }
    </style>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
    <!-- onload="myFunction()" -->
    <body>
        
            <nav class="navbar navbar-static-top" id="n">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">StuHelp</a>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home<span class="sr-only"></span></a></li>
                            <li><a href="#">Courses</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Counseling</a></li>
                                    <li><a href="notes.htm">Notes</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Doubts</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Donation</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Signup</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="donSect">
                <div class="donDiv">
                    <section class="donationSect">
                        <!-- <% if (DonMsg) { %>
                            <div class="">
                                <div id="donationSnack">
                                    <%= DonMsg %>
                                </div>
                            </div>
                            <% } %> -->
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 donatePara">
                                        <div class="mainDon">
                                            <center>
                                                <h2 class="font-weight-medium">
                                                    Help Our Community Flourish!
                                                </h2>
                                                <div class="donateText">
                                                    <p>
                                                        A small help will take us long way.Your little help will empower our developers to produce innovative products for a cause. Help and motivate developers to grow and nourish to build a better tomorrow, Come join us lets make tomorrow better!
                                                    </p>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row donForm">
                                            <div class="donateCard" data-aos="zoom-in-up">
                                                <form action="/donate" method="POST" class="Dform">
                                                    <center>
                                                        <button type="button" id="h" class="donateBtn">
                        <i class="fa fa-rupee"></i> 100
                      </button>
                                                        <button type="button" id="fh" class="donateBtn">
                        <i class="fa fa-rupee"></i> 500
                      </button>
                                                        <button type="button" id="ot" class="donateBtn">
                        <i class="fa fa-rupee"></i> 1000
                      </button>
                                                    </center>
                                                    <div class="row inputRow">
                                                        <input id="am" type="number" name="amount" placeholder="Enter the Amount" max="50000" required class="donateInp" />
                                                    </div>
                                                    <div class="row inputRow">
                                                        <input type="text" name="name" placeholder="Enter your Name" required class="donateInp" />
                                                    </div>
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                                    <div class="row inputRow">
                                                        <button class="btn btn-success form-control" id="donBtn">
                        Donate
                      </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </section>
                </div>
            </div>
            <script src="js/donate.js"></script>
            <!-- <script>
                function myFunction() {
                    var x = document.getElementById("donationSnack");
                    x.className = "show";
                    setTimeout(function() {
                        x.className = x.className.replace("show", "");
                    }, 3000);
                }
            </script> -->
            <!-- <%- include('../include/footer.ejs') %> -->
    </body>

</html>