<!-- subject
Standard 
Amount
Google Drive ShareLink -->
<!DOCTYPE html>
<html>
    <head>
        <title>Enter Notes</title>
    </head>
    <body>
        <form action="/notes" method="POST">
            <input type="text" name="subject" placeholder="Subject">
            <input type="number" name="standard" placeholder="class">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="amount" placeholder="Amount">
            <input type="text" name="imageUrl" placeholder="Image">
            <input type="url" name="shareLink" placeholder="Google Drive Share Link">
            <input type="text" name="driveFileId" placeholder="Google Drive File ID">
            <button>Submit</button>
        </form>
    </body>
</html>